absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
aiohttp @ file:///tmp/build/80754af9/aiohttp_1646806366512/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
astor==0.8.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
blinker==1.4
boto3==1.24.34
botocore==1.27.34
bravado==11.0.3
bravado-core==5.17.0
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646038465422/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652083738073/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
etils==0.6.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
flatbuffers==1.12
fonttools==4.25.0
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767111923/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1649010148304/work
gast==0.3.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==1.35.0
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1657690294604/work
grpcio==1.32.0
h5py @ file:///tmp/build/80754af9/h5py_1593454122442/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562408398/work
importlib-resources==5.8.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1646982648551/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///opt/conda/conda-bld/ipython_1657652213665/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
jmespath==1.0.1
jsonpointer==2.3
jsonref==0.2
jsonschema==3.2.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-core @ file:///opt/conda/conda-bld/jupyter_core_1651671229925/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
matplotlib==3.1.2
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mkl-service==2.4.0
monotonic==1.6
msgpack==1.0.4
multidict @ file:///opt/conda/conda-bld/multidict_1640703752579/work
munkres==1.1.4
neptune-client==0.16.4
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847908682/work
numpy==1.19.5
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==6.2.1
promise @ file:///home/conda/feedstock_root/build_artifacts/promise_1649695366539/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.20.1
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1653089172347/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2022.1
PyYAML==6.0
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.0
rfc3987==1.3.8
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer==0.6.0
scipy @ file:///tmp/build/80754af9/scipy_1641540193414/work
simplejson==3.17.6
sip==4.19.13
six==1.15.0
smmap==5.0.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
strict-rfc3339==0.7
swagger-spec-validator==2.7.4
tensorboard @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_te/tensorboard_1614593728657/work/tmp_pip_dir
tensorboard-plugin-wit==1.6.0
tensorflow @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_cpu/tensorflow-base_1614543347059/work/tensorflow_pkg/tensorflow-2.4.1-cp38-cp38-linux_x86_64.whl
tensorflow-datasets @ file:///tmp/build/80754af9/tensorflow-datasets_1615394951098/work
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
tensorflow-metadata==0.14.0
termcolor==1.1.0
tfds-nightly==4.6.0.dev202207200045
toml==0.10.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing-extensions==3.7.4.3
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650639997961/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.12
websocket-client==1.3.3
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wrapt==1.12.1
yarl @ file:///tmp/build/80754af9/yarl_1606939922162/work
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
